@import url(white.css);

section#cover {
  position: relative;
}

section#cover:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../img/logo-openzero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity : 0.2;
  z-index: -10;
}

div#footer {
  position: relative;
}

div#footer:after {
  content : "";
  display: block;
  position: absolute;
  bottom: 1em;
  left: 1em;
  background-image: url(../../img/logo-openzero-vertical.svg);
  background-repeat: no-repeat;
  min-width: 15%;
  min-height: 15%;
}
